body {
    font-family: 'Serif';
    font-size: 20px;
    background: #fffff8;
    padding-bottom: 100px;
}

.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul a, footer ul a {
    color: #999;
}

a {
    text-decoration: none;
    color: #4183C4;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: inherit;
}

h1, h2, h3 {
    color: #474747;
    margin: 1em 0 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    margin: 15px 0;
}

ul, ol {
    padding-left: 40px;
}

footer {
    border-top: 1px solid #cfcfcf;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    font-size: 16px;
    background-color: #ebebeb;
    text-align: center;
}

.date {
    font-style: italic;
    color: #bababa;
}

.read-more {
    text-transform: uppercase;
    font-size: 15px;
}