<!DOCTYPE html>
<html lang="en"xml:lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    {% include analytics.html %}
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

      {{ content }}
    </div>

    <footer>
      <ul>
        <li><a href="mailto:yulyugin@gmail.com">email</a></li>
        <li><a href="https://github.com/yulyugin">github.com/yulyugin</a></li>
      </ul>
    </footer>
  </body>
</html>
